#navBar {
  top: 0;
  gap: 3rem;
  background-color: silver;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: 3rem;
  margin-bottom: 1rem;
  padding: 5px;
  overflow: hidden;
}
#Btn {
  width: 5rem;
  height: 1.75rem;
  border-radius: 8px;
  border-width: 1px;
}
#resetBtn:hover {
  background-color: slategray;
}
